body {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 24px;
    color: black;
    background-color: white;
    margin: 0;
    font-size: 24px;
}

p {
    margin: 0;
    padding 0;
}

.top-nav {
    align-items: center;
    position: fixed;
    overflow-y: hidden;
    background: linear-gradient(to right, #30cca1, orange, red);
    height: 110px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.big-logo {
    margin: 15px;
    width: 80px;
    height: auto;
}

.find_members_wrapper {
    margin: 30px 0px;
    display: flex;
    align-items: center;
}

.fing_input {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.min-icon {
    height: 48px;
    width: 48px;
    margin: 0px 10px;
}

.top-nav input[type=text] {
    width: 366px;
    padding: 12px 20px;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 62px;
    outline: none;
}

#lk_button {
	padding: 0;
    margin-right: 30px;
	background: transparent;
	border: none;
	outline: none;
}

.main-container {
    padding-top: 110px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*
    overflow: hidden;
    height: 100vh;
    background-image: url("../img/bgLogo.png");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    */
}

.left-panel {
    width: 25%;
}

.search-result-wrapper {
    width: 74%;
}

.main-button {
    border: 3px solid #000000;
    border-radius: 83px;
    padding: 10px 36px;
    background: #FFF;
    margin-bottom: 24px;
    font-family: 'Gilroy';
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
}

button.wide {
    width: 456px;
}

button.medium {
    width: 216px;
}

form {
    display: flex;
    flex-direction: column;
}


form button {
    background: #4D4C55;
    border-radius: 70px;
    border: none;
    margin: auto;
    color: #FFFFFFFF;
    font-size: 24px;
    padding: 12px 24px;

    transition : all .1s ease-out;
    -wekit-transition : all .1s;
    -moz-transition : all .1s;

}

form button:hover {
    background: #4D4C55CF;
}

form button:active {
    background: #4D4C55A8;
}

.input-container {
    margin-bottom: 24px;
    position: relative;
}

form input:focus ~ p, form input:not(:placeholder-shown) ~ p {
    transform: translateY(-30px) translateX(27px) scale(0.8);
    background-color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 2px 20px;
}

.input-container p {
    color: gray;
    font-size: 18px;
    position: absolute;
    top: 13px;
    left: 21px;
    transition : all .1s ease-out;
    -wekit-transition : all .1s;
    -moz-transition : all .1s;
}

.text-container {
    font-size: 24px;
    color: #000000FF;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.text-container p {
    margin-left: 20px;
}


#arrow_button {
    margin-right: 20px;
    border: none;
    border-radius: 0;
    background: #FFF0;
    padding: 0;
}

#arrow_button:hover .arrow {
    background-color: #664B4B;
}

#arrow_button:hover .arrow::before {
    border-color: #664B4B;
}

.arrow {
    width: 28px;
    height: 3px;
    margin-top: 0px;
    background-color: #000;
}

.arrow::before{
    content: " ";
    position: absolute;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(135deg);
    padding: 6px;
    margin-top: -6px;
    margin-left: -14px;
}

#table-container {
    max-width: 100%; /* Максимальная ширина контейнера */
    max-height: 500px; /* Максимальная высота контейнера */
    overflow: auto; /* Добавляет прокрутку по вертикали и горизонтали, если содержимое не помещается */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: center;
}

#search-icon {
    position: relative;
    top: 0px; /* Адаптируйте значение в соответствии с вашими потребностями */
}
